*{
    box-sizing:border-box;
}


body{
    height:100%;
    background-image:linear-gradient(to bottom,rgba(255, 255, 255,0.1),rgba(255, 255, 255,0.1)),url('../images/nature.jpg');
}
/* 
.footerBox{
    background-color:#6351ce;
} */

footer{
    z-index:10;
    margin:120px 0 0 0;
}

#navbarNav ul li a{
    color:white;
    background-color:rgba(0, 0, 0,0.3);
    margin:3px 5px;
    text-align:center;
    font-weight:bolder;
    border-width:1px;
    border-style:solid;
    border-color:dodgerblue;
    border-radius:5px;
    font-weight:bolder;
}
#navbarNav ul li a:hover{
    background-color:rgba(0, 0, 0,0.5);
}


#sessionBar{
    position:fixed;
    bottom:0;
    left:0;
    background-color:rgba(0, 0, 0,0.5);
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:30%;
    color:white;
    font-weight:bold;
}
#sessionBar p,a{
    margin:0;
}
@media only screen and (max-width: 964px) {
    #sessionBar{
        width:100%;
    }
}

.panier_session{
    background-color:rgb(28, 35, 49);
    color:white;
    font-weight:bold;
    position:fixed;
    right:0;
    bottom:40%;
    width:10%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}