body,html{
    height:100%;
}

div#backImg{
    height:70vh;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.2)), url('../images/organic.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    color:white; 
}
div#backData{
    margin-top:5%;
    text-align:center;
}
div#backData h1{
    font-size:5em;
}
#navbarNav ul li a{
    color:white;
    background-color:rgba(0, 0, 0,0.3);
    margin:3px 5px;
    text-align:center;
    font-weight:bolder;
    border-width:1px;
    border-style:solid;
    border-color:dodgerblue;
    border-radius:5px;
}
#navbarNav ul li a:hover{
    background-color:rgba(0, 0, 0,0.5);
}

/* 
#logo-img{
    margin-right:20%;
} */



/* Portfolio section */

.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.flex-item{
    cursor: pointer;
}

.flex-item img{
    width:200px;
    border:10px solid white;
    transition:0.1s;
}

.flex-item img:hover{
    border:10px solid rgb(61, 57, 57);
}

figcaption{
    text-align:center;
    font-weight:bold;
}

.cat-title{
    text-align:center;
    margin:2% 0;
    font-style:italic;
    text-decoration:underline;
    text-decoration-color:dodgerblue;
}